<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value> 
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                Pages
            </web-resource-name>
            <url-pattern>
                /faces/socket-sender.xhtml
            </url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                SAMPLE_ROLE
            </role-name>
        </auth-constraint>
    </security-constraint>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <display-name>WASTecnologia</display-name>
    <welcome-file-list>
        <welcome-file>Index.xhtml</welcome-file>
    </welcome-file-list>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>error404.xhtml</location>
    </error-page>-->
</web-app>